/* login.css */

/* Center the form horizontally */
form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .h2
  {
align-items: center;
  }
  
  /* Style the form input fields */
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  
  button[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #428bca;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  